<ul>
  <li>Designer: David Matthews</li>
  <li>Date: 06/07/2022</li>
  <li>Purpose: To create an activity tracking application that will:</li>
  <ul>
    <li>Create a list item that can be tracked</li>
    <li>Mark the completion of the item</li>
    <li>Delete the item</li>
  </ul>
</ul>
